<div class="container py-3">
  <%= simple_form_for [@match, @team] do |f| %>
    <%= f.input :captain, required: true, collection: User.all.order(name: :asc), group_method: :name, value_method: :name %>
    <%= f.input :players, collection: User.all.order(name: :asc), group_method: :name, input_html: { multiple: true, include_blank: false }, label: 'Remaining 6 players' %>
    <%= f.input :home, :as => :hidden, :input_html => { :value => params[:home] } %>
    <%= f.submit class: 'btn btn-primary primary-btn' %>
  <% end %>
</div>
