<div class="container">
  <h2>Add Player</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "name" } %>
      <%= f.input :password,
                  as: :hidden,
                  required: true,
                  input_html: { autocomplete: "new-password", value: "123456" } %>
      <%= f.input :password_confirmation,
                  as: :hidden,
                  required: true,
                  input_html: { autocomplete: "new-password", value: "123456" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "ADD", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%#= render "devise/shared/links" %>
</div>
