<div class="container" data-target="common.container">
  <h3 class="font-weight-bold text-center mt-3">Match Preview</h3>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card rounded shadow my-3">
        <%= image_tag "https://m.media-amazon.com/images/I/81ydpaxHn0L._SS500_.jpg", style: 'width: 100%' %>
        <div class="p-2 d-flex flex-column justify-content-center align-items-center">
          <h5 class="font-weight-bold">Pastor Vs Pimp</h5>
          <p class="mb-0" style="font-size: 14px;">This Sunday we are going to church as Pastor Bambo is aiming to anoint the Resident Pimp EB7. Bambo rejuvenated after his Pfizer Covid Vaccine has brought scrutiny on EB7’s winning record is he the best of a bad bunch? Or a true star player? EB7 states he respects a man 10 years his senior and refuses to insult the vulnerable.
          <br>
          <br>
          Will Bambo be found out to be a false prophet on the pulpit come Sunday? Or is EB7 all chests no legs.
          <br>
          <br>
          On the undercard we have the ongoing rivalry between the two Heavyweights AJM vs Roscoe AJM hung up his boots temporarily to focus on other ventures. But couldn’t resist responding to the taunts after Deji’s last win. Both players are undefeated in the Poplar table and top the league for goal contributions. Will AJM rue the decision to skip out on his new contract? Or will Deji have passed the Blackwall tunnel at 3pm?
          <br>
          <br>
          Nobody can get near Mario right now as he is on fire from an 8 game winning streak. There’s a long line of players with extinguishers ready to dim his light. (Including players from his own team)
          <br>
          <br>
          There are rumblings from Camp Bambo that in light of MK’s recent form he has his eye on Abduls King of Defence title. Since MK has changed his identity and been redeployed to WITSEC he has been shocking all by his performances. Will Abdul answer the call for his title of King of Defence or is MK’s challenge too soon as he has just recorded his first win in 9 years.
          <br>
          <br>
          Since the Infamous Poplar favourite “Taking all your clout” was released former Poplar superstar Bosun has been a shadow of himself. Once spoken amongst the likes of AJM and Deji. He was a mere 5th pick for this game. This game can potentially be the final nail in the coffin for him before he is exiled to a more administrative role within Poplar collecting bibs and diary management. Hopefully this week we see the return of the Bos
          <br>
          <br>
          Tune in and find out at Poplar Sundays.</p>
        </div>
      </div>
    </div>
  </div>
  <h3 class="font-weight-bold text-center mt-3">Latest News</h3>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card rounded shadow my-3">
        <%= image_tag "cover.jpg", style: 'width: 100%' %>
        <div class="p-2 d-flex flex-column justify-content-center align-items-center">
          <h5 class="font-weight-bold">Poplar returns!</h5>
          <p class="mb-0" style="font-size: 14px;">Due to London's post lockdown placement in Tier 2 we can now welcome back our beloved Poplar FC Sundays!</p>
        </div>
      </div>
    </div>
  </div>
  <h3 class="font-weight-bold text-center mt-3">MVP</h3>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card rounded shadow my-3">
        <%= image_tag @mvp.photo, style: 'width: 100%' %>
        <div class="p-2 d-flex flex-column justify-content-center align-items-center">
          <h5 class="font-weight-bold"><%= @mvp.name %></h5>
          <p class="mb-0" style="font-size: 14px;">Goal contributions: <%= @mvp.goals.size + @mvp.assists.size %></p>
        </div>
      </div>
    </div>
  </div>

</div>
