<div class="d-flex justify-content-center align-items-center">
  <table class=" m-3 rounded border shadow">
    <thead>
      <tr class="border-bottom">
        <td class="p-2 border-right text-center">
          <i class="fas fa-user"></i>
        </td>
        <td class="p-2 border-right text-center">
          <%= image_tag 'pitch.png', width: 25 %>
        </td>
        <td class="p-2 border-right text-center">
          <i class="fas fa-futbol"></i>
        </td>
        <td class="p-2 border-right text-center">
          <i class="fas fa-hands-helping"></i>
        </td>
        <td class="p-2 border-right text-center">
          <i class="fas fa-futbol"></i> + <i class="fas fa-hands-helping"></i>
        </td>
        <!--  <td class="p-2 border-right">
          <strong>W</strong>
        </td>
        <td class="p-2 border-right">
          <STRONG>L</STRONG>
        </td>
        <td class="p-2 border-right">
          <STRONG>W %</STRONG>
        </td> -->

      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
        <tr class="border-bottom">
          <td class="border-right pl-0 py-0 pr-2"><%= image_tag "#{player.photo}.png", height: 50, class: 'mr-2' %><%= player.name %></td>
          <td class="p-2 border-right text-center"><%= player.matches.size %></td>
          <td class="p-2 border-right text-center"><%= player.goals.size %></td>
          <td class="p-2 border-right text-center"><%= player.assists.size %></td>
          <td class="p-2 border-right text-center"><%= player.goals.size + player.assists.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
