<div class="mb-3 d-flex justify-content-start align-items-center">
  <table class="rounded border shadow">
    <thead>
      <tr class="border-bottom">
        <td class="p-2 border-right text-center">
          <i class="fas fa-user"></i>
        </td>
        <td class="p-2 border-right text-center">
          <%= image_tag 'pitch.png', width: 25 %>
        </td>
        <td class="p-2 border-right text-center">
          <i class="fas fa-futbol"></i>
        </td>
        <td class="p-2 border-right text-center">
          <i class="fas fa-hands-helping"></i>
        </td>
        <td class="p-2 border-right text-center text-center">
          <i class="fas fa-futbol"></i> + <i class="fas fa-hands-helping"></i>
        </td>
         <td class="p-2 border-right text-center">
          <strong>W</strong>
        </td>
        <td class="p-2 border-right text-center">
          <STRONG>L</STRONG>
        </td>
        <td class="p-2 border-right text-center">
          <STRONG>W %</STRONG>
        </td>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
        <tr class="border-bottom">
          <td class="d-flex justify-content-start align-items-center border-right pl-0 py-0 pr-2"><%= image_tag "#{player.photo}.png", height: 50, class: 'mr-1' %><span class="font-14 text-truncate"><%= player.name %></span></td>
          <td class="p-2 border-right text-center"><%= player.matches.where(result_confirmed: true).size %></td>
          <td class="p-2 border-right text-center"><%= player.goals.size %></td>
          <td class="p-2 border-right text-center"><%= player.assists.size %></td>
          <td class="p-2 border-right text-center"><%= player.goals.size + player.assists.size %></td>
          <td class="p-2 border-right text-center"><%= player.teams.where(winners: true).size %></td>
          <td class="p-2 border-right text-center"><%= player.teams.where(losers:true).size %></td>
          <td class="p-2 border-right text-center"><%= player.matches.any? ? "#{(player.teams.where(winners: true).size.to_f / player.matches.size * 100).round(2)}%" : 'N/A' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
