<div class="container match-goal-container py-3" data-controller="match-goal">
  <%= simple_form_for [@match, @match_goal] do |f| %>
    <fieldset class="form-group radio_buttons required match_goal_goal">
      <legend class="col-form-label pt-0">Goal <abbr title="required">*</abbr></legend>
      <input type="hidden" name="match_goal[goal]" value="<%= @match_goal.goal.player_id %>">
      <div class="form-check p-0">
        <div class="row m-0">
          <% @users.all.each do |user| %>
            <div class="col-3 px-1 my-1">
              <input class="form-check-input radio_buttons required d-none" type="radio" value="<%= user.id %>" name="match_goal[goal]" id="match_goal_goal_<%= user.id %>" data-target="match-goal.goal">
              <label class="h-100 form-check-label collection_radio_buttons match-goal-player border rounded shadow <%= 'match-goal-active' if @match_goal.goal.player_id == user.id %>" for="match_goal_goal_<%= user.id %>" data-action="click->match-goal#toggleGoalActive">
                <% if user.photo.attached? %>
                  <%= cl_image_tag user.photo.key, style: 'width: 100%' %>
                <% else %>
                  <%= image_tag 'default.png', style: 'width: 100%' %>
                <% end %>
                <div class="py-1 d-flex justify-content-center bg-white">
                  <p class="text-center m-0" style="font-size: 10px;"><%= user.name %></p>
                </div>
              </label>
            </div>
          <% end %>
          <div class="col-3 px-1 my-1">
            <input class="form-check-input radio_buttons required d-none" type="radio" value="<%= @oghome.id %>" name="match_goal[goal]" id="match_goal_goal_<%= @oghome.id %>" data-target="match-goal.goal">
            <label class="w-100 d-flex flex-column form-check-label collection_radio_buttons match-goal-player og-card border rounded shadow <%= 'match-goal-active' if @match_goal.goal.player_id == @oghome.id %>" for="match_goal_goal_<%= @oghome.id %>" data-action="click->match-goal#toggleGoalActive">
              <div class="bg white w-100 flex-grow-1 d-flex justify-content-center align-items-center">
                <h6 class="text-center" style="font-size: 22px;">OG FOR TEAM <%= @match.teams.first.captain.upcase %></h6>
              </div>
            </label>
          </div>
          <div class="col-3 px-1 my-1">
            <input class="form-check-input radio_buttons required d-none" type="radio" value="<%= @ogaway.id %>" name="match_goal[goal]" id="match_goal_goal_<%= @ogaway.id %>" data-target="match-goal.goal">
            <label class="w-100 d-flex flex-column form-check-label collection_radio_buttons match-goal-player og-card border rounded shadow <%= 'match-goal-active' if @match_goal.goal.player_id == @ogaway.id %>" for="match_goal_goal_<%= @ogaway.id %>" data-action="click->match-goal#toggleGoalActive">
              <div class="bg white w-100 flex-grow-1 d-flex justify-content-center align-items-center">
                <h6 class="text-center" style="font-size: 22px;">OG FOR TEAM <%= @match.teams.last.captain.upcase %></h6>
              </div>
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group radio_buttons required match_goal_assist">
      <legend class="col-form-label pt-0">Assist <abbr title="required">*</abbr></legend>
      <input type="hidden" name="match_goal[assist]" value="<%= @match_goal.assist.player_id %>">
      <div class="form-check p-0">
        <div class="row m-0">
          <% @users.all.each do |user| %>
            <div class="col-3 px-1 my-1">
              <input class="form-check-input radio_buttons required d-none" type="radio" value="<%= user.id %>" name="match_goal[assist]" id="match_goal_assist_<%= user.id %>" data-target="match-goal.assist">
              <label class="form-check-label collection_radio_buttons match-goal-player border rounded shadow <%= 'match-goal-active' if @match_goal.assist.player_id == user.id %>" for="match_goal_assist_<%= user.id %>" data-action="click->match-goal#toggleAssistActive">
                <% if user.photo.attached? %>
                  <%= cl_image_tag user.photo.key, style: 'width: 100%' %>
                <% else %>
                  <%= image_tag 'default.png', style: 'width: 100%' %>
                <% end %>
                <div class="py-1 d-flex justify-content-center bg-white">
                  <p class="text-center m-0" style="font-size: 10px;"><%= user.name %></p>
                </div>
              </label>
            </div>
          <% end %>
          <div class="col-3 px-1 my-1">
            <input class="form-check-input radio_buttons required d-none" type="radio" value="<%= @no_assist.id %>" name="match_goal[assist]" id="match_goal_assist_<%= @no_assist.id %>" data-target="match-goal.assist">
            <label class="form-check-label collection_radio_buttons match-goal-player border rounded shadow <%= 'match-goal-active' if @match_goal.assist.player_id == @no_assist.id %>" for="match_goal_assist_<%= @no_assist.id %>" data-action="click->match-goal#toggleAssistActive">
              <%= image_tag "noassist.png", style: 'width: 100%' %>
              <div class="py-1 d-flex justify-content-center bg-white">
                <p class="text-center m-0" style="font-size: 10px;"><%= @no_assist.name %></p>
              </div>
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="d-flex justify-content-center align-items-center">
      <%= f.submit "UPDATE GOAL", class: 'btn btn-primary primary-btn' %>
    </div>
  <% end %>
</div>

