<div class="container match-goal-container py-3" data-controller="match-goal">
  <%= simple_form_for [@match, @match_goal] do |f| %>
    <div class="" data-target="match-goal.goalContainer">
      <fieldset class="form-group radio_buttons required match_goal_goal">
        <h3 class="text-center mb-3">Who scored?</h3>
        <input type="hidden" name="match_goal[goal]" value="" data-action="change->match-goal#enableButton">
        <div class="form-check p-0">
          <div class="row justify-content-center m-0">
            <% @users.all.each do |user| %>
              <div class="col-3 px-1 my-1">
                <input class="form-check-input radio_buttons required d-none" type="radio" value="<%= user.id %>" name="match_goal[goal]" id="match_goal_goal_<%= user.id %>" data-target="match-goal.goal">
                <label class="h-100 w-100 form-check-label collection_radio_buttons match-goal-player border rounded shadow" for="match_goal_goal_<%= user.id %>" data-action="click->match-goal#toggleGoalActive click->match-goal#scorerAndAssister" data-scorer="<%= user.id %>">
                  <% if user.photo.attached? %>
                    <%= cl_image_tag user.photo.key, style: 'width: 100%' %>
                  <% else %>
                    <%= image_tag 'default.png', style: 'width: 100%' %>
                  <% end %>
                  <div class="py-1 d-flex justify-content-center bg-white">
                    <p class="text-center m-0" style="font-size: 10px;"><%= user.name %></p>
                  </div>
                </label>
              </div>
            <% end %>
            <div class="col-3 px-1 my-1">
              <input class="form-check-input radio_buttons required d-none" type="radio" value="<%= @oghome.id %>" name="match_goal[goal]" id="match_goal_goal_<%= @oghome.id %>" data-target="match-goal.goal">
              <label class="w-100 d-flex flex-column form-check-label collection_radio_buttons match-goal-player og-card border rounded shadow" for="match_goal_goal_<%= @oghome.id %>" data-action="click->match-goal#toggleGoalActive click->match-goal#scorerAndAssister" data-scorer="<%= @oghome.id %>">
                <div class="bg white w-100 flex-grow-1 d-flex justify-content-center align-items-center">
                  <h6 class="text-center" style="font-size: 22px;">OG FOR TEAM <%= @match.teams.first.captain.upcase %></h6>
                </div>
              </label>
            </div>
            <div class="col-3 px-1 my-1">
              <input class="form-check-input radio_buttons required d-none" type="radio" value="<%= @ogaway.id %>" name="match_goal[goal]" id="match_goal_goal_<%= @ogaway.id %>" data-target="match-goal.goal">
              <label class="w-100 d-flex flex-column form-check-label collection_radio_buttons match-goal-player og-card border rounded shadow" for="match_goal_goal_<%= @ogaway.id %>" data-action="click->match-goal#toggleGoalActive click->match-goal#scorerAndAssister" data-scorer="<%= @ogaway.id %>">
                <div class="bg white w-100 flex-grow-1 d-flex justify-content-center align-items-center">
                  <h6 class="text-center" style="font-size: 22px;">OG FOR TEAM <%= @match.teams.last.captain.upcase %></h6>
                </div>
              </label>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="d-none" data-target="match-goal.assistContainer">
      <%= render 'assist', users: @users, no_assist: @no_assist %>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <%= f.submit "ADD GOAL", class: 'btn btn-primary primary-btn disabled', data: { target: 'match-goal.button' } %>
    </div>

  <% end %>
</div>
