<div class="container">
  <h2 class="text-center">Password</h2>
  <div class="mt-5 pt-5 d-flex justify-content-center align-items-center" style="max-width: 500px; margin-left: auto; margin-right: auto;">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "w-100"  }) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    as: :hidden,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email", value: "boss@dgo.com" } %>
        <%= f.input :password,
                    required: false,
                    label: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean, as: :hidden, input_html: { checked: true } if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions d-flex justify-content-center">
        <%= f.button :submit, "LOG IN", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

