<div class="container pt-3 pb-3">
  <h3 class="font-weight-bold text-center">Players</h3>
  <div class="d-flex justify-content-center align-items-center">
    <%= link_to "NEW PLAYER", new_player_path, class: "btn btn-primary primary-btn mt-4" if user_signed_in? %>
  </div>
  <div class="row">
    <% @players.all.each do |player| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="player-card shadow rounded my-3 pb-2">
          <% if player.photo.attached? %>
            <%= cl_image_tag player.photo.key, style: 'width: 100%; height: 525px; object-fit: cover;' %>
          <% else %>
            <%= image_tag 'default.png', style: 'width: 100%; height: 525px; object-fit: cover;' %>
          <% end %>
          <div class="py-1 d-flex justify-content-center bg-white border-bottom">
            <h3 class="text-center p-2 m-0 font-weight-bold" style="word-break: break-word;"><%= player.name %></h3>
          </div>
          <div class="row m-0">
            <div class="col-4 pt-2 pb-1 d-flex flex-column justify-content-center align-items-center">
              <p class="m-0 text-center font-weight-bold">Played</p>
              <p class="m-0 text-center"><%= player.matches.where(result_confirmed: true).size %></p>
            </div>
            <div class="col-4 pt-2 pb-1 d-flex flex-column justify-content-center align-items-center">
              <p class="m-0 text-center font-weight-bold">Goals</p>
              <p class="m-0 text-center"><%= player.goals.size %></p>
            </div>
            <div class="col-4 pt-2 pb-1 d-flex flex-column justify-content-center align-items-center">
              <p class="m-0 text-center font-weight-bold">Assists</p>
              <p class="m-0 text-center"><%= player.assists.size %></p>
            </div>
            <div class="col-4 pt-2 pb-1 d-flex flex-column justify-content-center align-items-center">
              <p class="m-0 text-center font-weight-bold">G + A</p>
              <p class="m-0 text-center"><%= player.goals.size + player.assists.size %></p>
            </div>
            <div class="col-4 pt-2 pb-1 d-flex flex-column justify-content-center align-items-center">
              <p class="m-0 text-center font-weight-bold">Wins</p>
              <p class="m-0 text-center"><%= player.teams.where(winners: true).size %></p>
            </div>
            <div class="col-4 pt-2 pb-1 d-flex flex-column justify-content-center align-items-center">
              <p class="m-0 text-center font-weight-bold">Losses</p>
              <p class="m-0 text-center"><%= player.teams.where(losers:true).size %></p>
            </div>
            <div class="col-12 py-1 d-flex flex-column justify-content-center align-items-center">
              <p class="m-0 text-center font-weight-bold">Win %</p>
              <p class="m-0 text-center"><%= player.matches.any? ? "#{(player.teams.where(winners: true).size.to_f / player.matches.where(result_confirmed: true).size * 100).round(2)}%" : 'N/A' %></p>
            </div>
          </div>
          <% if user_signed_in? %>
            <div class="px-3 pt-3 pb-2 mt-2 w-100 d-flex align-items-center justify-content-end border-top">
              <%= link_to edit_player_path(player) do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>
              <%= link_to player_path(player), method: :delete, data: { confirm: "Are you sure you want to delete this player?"}, class: "ml-3" do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
