<div class="container pt-3">
  <%#= link_to 'NEW MATCH', new_match_path, class: 'btn btn-block btn-primary my-3' %>
  <h3 class="font-weight-bold text-center">Matches</h3>
  <div class="d-flex justify-content-center align-items-center">
    <%= link_to "NEW MATCH", new_match_path, class: "btn btn-primary mt-4" if user_signed_in? %>
  </div>
  <div class="row">
    <% @matches.each do |match| %>
      <div class="col-12 col-md-6 col-lg-4">
        <%= link_to match_path(match), class: 'no-decoration' do %>
          <div class="card rounded shadow my-3">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <% if match.teams.size == 2 %>
                <div class="d-flex w-100">
                  <div class="w-50">
                    <% hp = match.teams.first.players.last %>
                    <% if hp.photo.attached? %>
                      <%= cl_image_tag hp.photo.key, style: 'width: 100%; height: 260px; object-fit: cover;' %>
                    <% else %>
                      <%= image_tag 'default.png', style: 'width: 100%; height: 260px; object-fit: cover;' %>
                    <% end %>
                  </div>
                  <div class="w-50">
                    <% ap = match.teams.last.players.last %>
                    <% if ap.photo.attached? %>
                      <%= cl_image_tag ap.photo.key, style: 'width: 100%; height: 260px; object-fit: cover;' %>
                    <% else %>
                      <%= image_tag 'default.png', style: 'width: 100%; height: 260px; object-fit: cover;' %>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <div class="p-2 d-flex flex-column justify-content-center align-items-center">
                <h5 class="mb-0 font-weight-bold"><%= match.title %></h5>
                <p class="mb-0" style="font-size: 14px;"><%= match.date.strftime('%A %e %B %Y') %></p>
              </div>
              <div class="p-3 w-100 d-flex align-items-center justify-content-end border-top">
                <%= link_to edit_match_path(match) do %>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                <% end %>
                <%= link_to match_path(match), method: :delete, data: { confirm: "Are you sure you want to delete this match?"}, class: "ml-3" do %>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>



