<div class="container">
  <div class="border rounded shadow mt-3 p-3">
    <h3 class="text-center font-weight-bold"><%= @match.title %></h3>
    <p class="text-center mb-0" style="font-size: 14px;"><%= @match.date.strftime('%A %e %B %Y') %></p>
  </div>
  <div class="border rounded shadow p-3 my-3" style="background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('https://images.unsplash.com/photo-1510051640316-cee39563ddab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'); background-size: cover; background-position: center;">
    <% unless  Date.today > @match.date %>
      <div class="d-flex justify-content-center">
        <%= link_to 'refresh score', '', class: 'mb-3 no-underline' %>
      </div>
    <% end %>
      <h1 class="w-100 text-center" style="font-size: 70px; font-family: 'Bungee Inline'"><%= @match.score %></h1>
    <div class="row m-0 justify-content-between">
      <div class="col-12 p-0">
        <% @match.match_goals.each do |match_goal| %>
          <div class="d-flex align-items-center score-text <%= match_goal.team.home == true ? 'justify-content-start' : 'justify-content-end' %>">
            <i class="fas fa-futbol mr-2"></i>
            <span class="mr-2"><%= match_goal.goal.user.name %></span>
            (<i class="fas fa-hands-helping mr-2"></i> <%= match_goal.assist.user.name %>)
          </div>
        <% end %>
      </div>
    </div>
    <% unless  Date.today > @match.date %>
      <div class="d-flex justify-content-center">
        <%= link_to 'ADD GOAL', new_match_match_goal_path(@match), class: 'btn btn-primary mt-3' %>
      </div>
    <% end %>
  </div>
  <div class="row m-0 justify-content-around">
    <div class="col-12 col-md-6 border rounded shadow py-3 mb-3 home-team" style="background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('https://sh-prod-storage.s3.amazonaws.com/uploads/image/image/9774/big_CHANGING_1.JPG'); background-size: cover; background-position: center;">
      <% if @match.teams.empty? %>
        <%= link_to "ADD HOME TEAM", new_match_team_path(@match, home: true), class: 'btn btn-primary' %>
      <% end %>
      <% if @match.teams.where(home: true).any? %>
        <h5 class="text-center font-weight-bold mb-3">TEAM <%= @match.teams.where(home: true).first.captain.upcase %></h5>
        <div class="row justify-content-center">
          <div class="col-4 mb-2">
            <%= image_tag "#{User.find_by(name: @match.teams.where(home: true).first.captain).photo}.png", style: 'width: 100%' %>
            <p class="m-0 text-center player-name"><%= @match.teams.where(home: true).first.captain %><i class="fab fa-contao ml-2"></i></p>
          </div>
        </div>
        <div class="row m-0">
        <% @match.teams.where(home: true).first.players.first(6).each do |player| %>
            <div class="col-4 mb-2">
              <%= image_tag "#{player.user.photo}.png", style: 'width: 100%' %>
              <p class="m-0 text-center player-name"><%= player.user.name %> </p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-md-6 border rounded shadow py-3 mb-3" style="background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('https://sh-prod-storage.s3.amazonaws.com/uploads/image/image/9774/big_CHANGING_1.JPG'); background-size: cover; background-position: center;">
      <% if @match.teams.size == 1 %>
        <%= link_to "ADD AWAY TEAM", new_match_team_path(@match, home: false), class: 'btn btn-primary' %>
      <% end %>
      <% if @match.teams.where(home: false).any? %>
        <h5 class="text-center font-weight-bold mb-3">TEAM <%= @match.teams.where(home: false).first.captain.upcase %></h5>
        <div class="row justify-content-center">
          <div class="col-4 mb-2">
            <%= image_tag "#{User.find_by(name: @match.teams.where(home: false).first.captain).photo}.png", style: 'width: 100%' %>
            <p class="m-0 text-center player-name"><%= @match.teams.where(home: false).first.captain %><i class="fab fa-contao ml-2"></i></p>
          </div>
        </div>
        <div class="row m-0">
        <% @match.teams.where(home: false).first.players.first(6).each do |player| %>
            <div class="col-4 mb-2">
              <%= image_tag "#{player.user.photo}.png", style: 'width: 100%' %>
              <p class="m-0 text-center player-name"><%= player.user.name %> </p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
